* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

}

h1 {
    margin: 10px auto;
}

h1, h2, h3 {
    text-align: center;
}

body, html {
    height: 100%;
}
 
body {
    display: flex;
    flex-direction: column;
}

/* nav */
.nav {
    background-color: lightgray;
    padding: 20px 5px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Mantém o espaçamento entre o botão e o link centralizado */
    align-items: center;
    margin-bottom: 20px;
}

.navbar-nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.nav-item, .navbar-brand {
    margin-left: 1em;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.nav-item:hover, .navbar-brand:hover {
    margin-left: 1em;
    background-color: darkgray;
    padding: 10px;
    border-radius: 5px;
    transition: .25s;
}

.nav-link, .navbar-brand {
    color: #000;
    text-decoration: none;
}

.nav div ul li {
    text-align: right;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input,
.form-control textarea {
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.bold {
    font-weight: bold;
}

.form-checkbox {
    flex-direction: row;
}

.footer {
    text-align: center;
    font-weight: bold;
    background-color: lightgray;
    padding: 5px;
    left: 0;
    width: 100%;
    color: #000;

    position: fixed;
    bottom:0%;
    width: 100%;
    margin-top: 10px;
}

#links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Espaçamento entre os elementos */
}

.container {
    max-width: 450px;
    margin: 2em auto;
}

.container form {
    margin-top: 1.5em;
}

form input[type="submit"] {
    background-color: #ccc;
    color: #000;
    padding: .7em 1.5em;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #000;
    cursor: pointer;
}