<h1>Livros disponíveis:</h1>

<div class="books-container">
    {{#each books}}

    <div>
        <ul>
            <li>#{{this.id}} - <span class="bold">{{this.title}}</span> - {{this.pageqty}} páginas</li>
        </ul>
    </div>

    {{/each}}
</div>