<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquitetura MVC</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <header>
        <nav class="nav">
            <a class="navbar-brand" href="/">MVC</a>
            <div id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/tasks">Ver todos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tasks/add">Cadastrar</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        {{{body}}}
    </div>


    <footer class="footer navbar-fixed-bottom">
        <p id="links">Desenvolvido por: Gustavo Matos 
            <a href="https://www.linkedin.com/in/gustavonascimentomatos" target="_blank"><img src="/img/logo_linkedin.png" alt="logo_linkedin" width="20px" height="20px"></a> | 
            <a href="https://github.com/GustavoNascimentoMatos" target="_blank"><img src="/img/logo_github.png" alt="logo_github" width="20px" height="20px"></a> | 
            <a href="https://www.gustavomatos.com.br" target="_blank"><img src="/img/logo_site.png" alt="logo_site_web" width="20px" height="26px"></a>
        </p>
        <p id="create">Novembro/2024</p>
    </footer>

</body>
</html>