<h1>Todas as Tasks:</h1>

<ul class="task-list">
    {{#each tasks}}
       <li>
            <a href="/" class="no-decoration title">{{this.title}}</a>
            <div class="actions">
                <a href="/"><i class="no-decoration bi bi-check2"></i></a>
                <a href="/"><i class="no-decoration bi bi-pencil-square"></i></a>
                <a href="/"><i class="no-decoration bi bi-x-lg"></i></a>
            </div>
       </li>
    {{/each}}
</ul>


