<h1>Livros selecionado:</h1>

<div class="book-page">
    <div class="container">
        <h2>{{book.title}}</h2>
        <p>Este livro tem {{book.pageqty}} páginas</p>
        <div class="actions">
            <a href="/books/edit/{{book.id}}">Editar</a>
        </div>
    </div>
</div>