<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>MongoDB</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a href="/products">Produtos</a></li>
        </ul>
    </nav>

    {{{body}}}

    <footer class="footer">
        <p id="links">Desenvolvido por: Gustavo Matos 
            <a href="https://www.linkedin.com/in/gustavonascimentomatos" target="_blank"><img src="/img/logo_linkedin.png" alt="logo_linkedin" width="21px" height="21px"></a> | 
            <a href="https://github.com/GustavoNascimentoMatos" target="_blank"><img src="/img/logo_github.png" alt="logo_github" width="23px" height="23px"></a> | 
            <a href="https://www.gustavomatos.com.br" target="_blank"><img src="/img/logo_site.png" alt="logo_site_web" width="23px" height="23px"></a>
        </p>
        <p id="create">Novembro/2024</p>
    </footer>

</body>
</html>