<h1>Node.js + MySQL</h1>
<h2>Aula 117 Inserindo dados no banco</h2>

<h3>Cadastre seu livro!</h3>
<form action="/books/insertbook" method="POST" class="form">
    <div>
        <div class="form-control">
            <label for="title">Título:</label>
            <input type="text" name="title" id="title" placeholder="Digite o título">
        </div>
        <div class="form-control">
            <label for="pageqty">Número de página:</label>
            <input type="number" name="pageqty" id="pageqty" placeholder="Digite a quantidade de páginas">
        </div>
    </div>
    <input type="submit" value="Cadastrar" id="sub">
</form>