* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 10px auto;
}

h1, h2, h3 {
    text-align: center;
}

/* nav */
.nav {
    background-color: lightgray;
    padding: 20px 5px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Mantém o espaçamento entre o botão e o link centralizado */
    align-items: center;
}

.navbar-nav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.nav-item {
    margin-left: 1em;
}

.nav div ul li {
    text-align: right;
}

.form {
    width: 450px;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
}

.form-control label {
    font-weight: bold;
    margin-bottom: .3em;
}

.form-control input {
    padding: 5px;
}

/* Books */
.books-container div {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.books-container {
    width: 500px;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

/* BOOK */
#book-page {
    padding: 2em;
}

.book-page .container {
    text-align: center;
}

.book-page .container h2 {
    margin: 10px auto;
}

.actions {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.actions a {
    margin-right: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #f8f9fa;
    padding: 0;
    margin: 0;
    left: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: auto; /* Faz o rodapé sempre ficar no fim */
}

#links {
    font-weight: bold;
    padding-top: 10px;
    margin: 0;
    color: #000;
}

#create {
    padding-bottom: 5px;
}